<div class="tribal-separator" aria-hidden="true">
  <img class="tribal-sep-dark" src="/img/separators/separator-dark.png" alt="">
  <img class="tribal-sep-light" src="/img/separators/separator-light.png" alt="">
</div>
