body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body.menu-open{
    overflow: hidden;
}

section{
    background-image: url(assets/images/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    min-height: 100vh;
    text-align: center;
    align-content: center;
}
.cart{
    position: relative;
}

.cart-count{
    position: absolute;
    top: -8px;
    right: -10px;
    background: #c64cff;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 1px 1px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10px;
}

.cart-panel{
    position: fixed;
    top: 0;
    right: -400px;
    width: 350px;
    height: 100vh;
    background: white;
    padding: 20px;
    transition: 0.3s ease;
    z-index: 7000; /* SUBIMOS */
    overflow-y: auto;
}

.cart-panel.active{
    right: 0;
}

.product-modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 6000;
}

.product-modal.active{
    display: flex;
}

.modal-content{
    background: white;
    width: 80%;
    max-width: 900px;
    display: flex;
    gap: 30px;
    padding: 30px;
    position: relative;
    border-radius: 10px;
}

.modal-left img{
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.modal-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-close{
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal-right select{
    padding: 8px;
}

.modal-right button{
    padding: 12px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.search-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 2999;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.search-bar.active{
    transform: translateY(95px); /* altura exacta del navbar */
}

.search-container{
    width: 60%;
    display: flex;
}

.search-container input{
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    outline: none;
}

.search-container button{
    padding: 12px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}
.search-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 2500;
}

.search-overlay.active{
    display: block;
}

.cart-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-close{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}




/* NAVBAR */
.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(4px);
    z-index: 3000;
    transition: transform 0.3s ease;
}

.navbar.hide{
    transform: translateY(-100%);
}
/* izquierda */
.nav-left{
    display: flex;
    gap: 20px;
    margin: 20px;
}
.nav-left a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
/* centro */
.nav-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #c44cff;
    font-size: 38px;
    font-weight: bold;
}
/* derecha */
.nav-right{
    display: flex;
    gap: 20px;
    margin: 20px;
}
.nav-right a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
/* HERO */
.hero{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.hero h1{
    font-size: 60px;
    margin: 0;
}
.hero button{
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
aside{
    background: black;
    padding: 60px 20px;
    text-align: center;
}

/* titulo */
.titulo-productos{
    color: #c44cff;
    margin-bottom: 10px;
}

/* linea decorativa */
.linea-productos{
    width: 500px;
    max-width: 90%;
    margin-bottom: 40px;
}

/* contenedor */
.productos{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* card */
.card{
    width: 380px;
    background: #d9d9d9;
    border-radius: 15px;
    overflow: hidden;
}

.img-container{
    position: relative;
}

.card img{
    width: 100%;
    height: 380px;
    object-fit: cover;
    display: block;
}

/* BOTON + POSICION CORRECTA */
.btn-plus{
    position: absolute;
    bottom: -15px; /* esto lo baja a la uni贸n */
    right: 5px;
    width: 32px;
    height: 32px;
    background: black;
    border: 2px solid white;
    z-index: 10;
    cursor: pointer;
}

/* simbolo + */
.btn-plus::before,
.btn-plus::after{
    content: "";
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-plus::before{
    width: 16px;
    height: 2px;
}

.btn-plus::after{
    width: 2px;
    height: 16px;
}

/* espacio extra para compensar el bot贸n */
.info{
    padding: 20px 10px 10px 10px;
    background: #d9d9d9;
}


.nombre{
    font-weight: bold;
}

.precio{
    font-size: 14px;
}

/* boton mas */
.btn-mas{
    margin-top: 30px;
    padding: 8px 30px;
    border-radius: 20px;
    border: none;
    background: #d9d9d9;
    cursor: pointer;
}
.foot{
    display: flex;
    flex-direction: column;
}
.head{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.foot button{
    margin: 30px auto;
}
article{
    background-color: black;
}
.contenedor{
    height: 100%;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.titulo{
    color:#c44cff;
    font-size:28px;
    font-weight:bold;
    margin-bottom:15px;
}

.cuadro-3d{
    z-index: 1;
    width:50%;
    height:600px;
    background:#292929;
    position: relative;
    overflow: hidden;
}
model-viewer{
    width:100%;
    height:100%;
}
/* Overlay base */
.viewer-overlay{
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 20;
}
/* Estado oculto por zoom */
.viewer-hidden .viewer-info{
    top: -100px !important;
    opacity: 0 !important;
}

.viewer-hidden .viewer-price{
    left: -300px !important;
}


/* INFO (Nombre + descripci贸n) */
.viewer-info{
    position: absolute;
    top: -100px;
    right: 20px;
    text-align: right;
    color: white;
    max-width: 260px;
    opacity: 0;
    transition: all 0.5s ease;
}

/* PRECIO */
.viewer-price{
    position: absolute;
    bottom: 40px;
    left: -300px;
    background: rgba(0,0,0,0.75);
    padding: 15px 25px;
    border-radius: 10px;
    color: white;
    transition: all 0.6s ease;
}

/* HOVER ACTIVA TODO */
.cuadro-3d:hover .viewer-info{
    top: 20px;
    opacity: 1;
}

.cuadro-3d:hover .viewer-price{
    left: 20px;
}


/* texto */
.viewer-title{
    font-size: 22px;
    margin: 0;
}

.viewer-desc{
    font-size: 14px;
    opacity: 0.85;
}

.old-price{
    text-decoration: line-through;
    opacity: 0.6;
    margin-right: 10px;
}

.new-price{
    color: #c44cff;
    font-weight: bold;
    font-size: 20px;
}
.btn-comprar{
    z-index: 1;
    position: relative;
    bottom: 20px;
    padding: 14px 60px;
    background: #ffffff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}


.btn-comprar:hover{
    background: #c44cff;
    color: white;
}

.btn-vermas{
    margin-top: 50px;
    padding: 10px 60px;
    border-radius: 20px;
    border: 1px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}


.btn-vermas:hover{
    background: white;
    color: black;
}

main{
    background-image: url(assets/images/section.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    min-height: 100vh;
    text-align: center;
    align-content: center;
}
.footer{
    background: black;
    color: white;
    padding: 45px 60px;
    position: relative; /* importante */
    overflow: visible;
}

/* top */
.footer-top{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.input-email{
    padding: 8px 15px;
    border-radius: 20px 0 0 20px;
    border: 2px solid #c44cff;
    background: transparent;
    color: white;
    outline: none;
}

.btn-suscribir{
    padding: 8px 20px;
    border: none;
    border-radius: 0 20px 20px 0;
    background: linear-gradient(90deg,#c44cff,#ff4fd8);
    color: white;
    cursor: pointer;
}

/* contenido */
.footer-content{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

/* columnas */
.footer-col{
    display: flex;
    flex-direction: column;
}

.footer-col h3{
    margin-bottom: 10px;
}

.footer-col a{
    color: #ccc;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 14px;
}

.footer-col a:hover{
    color: white;
}

/* izquierda */
.footer-left{
    font-size: 12px;
    color: #aaa;
}

/* instagram */
.instagram img{
    width: 40px;
    cursor: pointer;
}

.footer-img{
    max-width: 100%;
    height: auto;
    position: absolute; /* si la est谩s posicionando */
    right: 0;
    bottom: 0;
}

.menu-toggle{
    display:none;
}

.login-mobile{
    display:none;
}
@media (max-width:351px){
    .footer-img{
        display:none; 
    }
    .footer-content{
        display: flex;
        flex-wrap: wrap;
    }
    .menu-toggle{
        display:block;
        position:absolute;
        left:20px;
        top:35px;
        font-size:22px;
        background:none;
        border:none;
        cursor:pointer;
        z-index:3000;
        color: white;
    }

    .login-desktop{
        display:none !important;
    }

    .nav-right{
        display:flex;
        gap:20px;
        margin-right:60px;
    }
    nav{
        flex-direction: row-reverse;
    }

    .nav-left{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100vh;
        background:black;
        flex-direction:column;
        align-items: start;
        padding-top:100px;
        padding-left:10px;
        gap:30px;
        transform:translateX(-110%);
        transition:0.4s ease;
        z-index:2500;
    }

}
@media (min-width:352px) and (max-width:480px){
    .menu-toggle{
        display:block;
        position:absolute;
        left:20px;
        top:35px;
        font-size:22px;
        background:none;
        border:none;
        cursor:pointer;
        z-index:3000;
        color: white;
    }

    .login-desktop{
        display:none !important;
    }

    .nav-right{
        display:flex;
        gap:20px;
        margin-right:60px;
    }
    nav{
        display: flex;
        flex-direction: row-reverse;
    }

    .nav-left{
        position:fixed;
        flex-direction: column;
        align-items: start;
        top:0;
        left:0;
        width:100%;
        height:100vh;
        background:black;
        padding-top:100px;
        padding-left:10px;
        gap:30px;
        transform:translateX(-110%);
        transition:0.4s ease;
        z-index:2500;
    }

    .nav-left{
        display: flex;
        flex-wrap: wrap;
        max-width: 100px;
    }

    .nav-left.active{
        transform:translateX(0);
        margin: 0;
    }

    .login-mobile{
        display:block;
        margin-top:40px;
        font-size:20px;
    }
    .footer-img{
        display:none; 
    }
    .footer-content{
        display: flex;
        flex-wrap: wrap;
    }
    .cuadro-3d{
        width:70%;
        height:550px;
    }
/* card */
    .card{
        width: 150px;
        background: #d9d9d9;
        border-radius: 15px;
        overflow: hidden;
    }

    .img-container{
        position: relative;
    }

    .card img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        display: block;
    }

    /* BOTON + POSICION CORRECTA */
    .btn-plus{
        position: absolute;
        bottom: -15px; /* esto lo baja a la uni贸n */
        right: 5px;
        width: 32px;
        height: 32px;
        background: black;
        border: 2px solid white;
        z-index: 10;
    }

    /* simbolo + */
    .btn-plus::before,
    .btn-plus::after{
        content: "";
        position: absolute;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn-plus::before{
        width: 16px;
        height: 2px;
    }

    .btn-plus::after{
        width: 2px;
        height: 16px;
    }

    /* espacio extra para compensar el bot贸n */
    .info{
        padding: 20px 10px 10px 10px;
        background: #d9d9d9;
    }


    .nombre{
        font-weight: bold;
    }

    .precio{
        font-size: 14px;
    }

}
@media (min-width: 481px) and (max-width:768px){

    .hero{
        height:60vh;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:center;
        padding:20px;
    }
    .menu-toggle{
        display:block;
        position:absolute;
        left:20px;
        top:35px;
        font-size:22px;
        background:none;
        border:none;
        cursor:pointer;
        z-index:3000;
        color: white;
    }

    .login-desktop{
        display:none !important;
    }

    .nav-right{
        display:flex;
        gap:20px;
        margin-right:60px;
    }
    nav{
        flex-direction: row-reverse;
    }

    .nav-left{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100vh;
        background:black;
        flex-direction:column;
        align-items: start;
        padding-top:100px;
        padding-left:10px;
        gap:30px;
        transform:translateX(-110%);
        transition:0.4s ease;
        z-index:2500;
        margin: 0;
    }

    .nav-left{
        display: flex;
        flex-wrap: wrap;
        max-width: 100px;
    }

    .nav-left.active{
        transform:translateX(0);
        margin: 0;
    }

    .login-mobile{
        display:block;
        margin-top:40px;
        font-size:20px;
    }

    .hero h1{
        font-size:32px;
    }

    .hero button{
        margin-top:20px;
    }

    .nav-left{
        display: flex;
        flex-wrap: wrap;
        width: 200px;
    }

    .head img,
    .foot img{
        display:none; /* ocultamos im谩genes decorativas */
    }
    .contenedor{
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }


    .cuadro-3d{
    width: 50%;
    height: 600px;
    background: #292929;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px; /*  CLAVE */
    }


    model-viewer{
        width:100%;
        height:100%;
    }
    .footer{
        padding:40px 20px;
    }

    .footer-col{
        text-align:center;
    }

    .footer-left{
        text-align:center;
    }

    .footer-img{
        display:none; /* quitamos la imagen grande */
    }
/* card */
    .card{
        width: 180px;
        background: #d9d9d9;
        border-radius: 15px;
        overflow: hidden;
    }

    .img-container{
        position: relative;
    }

    .card img{
        width: 100%;
        height: 180px;
        object-fit: cover;
        display: block;
    }

    /* BOTON + POSICION CORRECTA */
    .btn-plus{
        position: absolute;
        bottom: -15px; /* esto lo baja a la uni贸n */
        right: 5px;
        width: 42px;
        height: 42px;
        background: black;
        border: 2px solid white;
        z-index: 10;
    }

    /* simbolo + */
    .btn-plus::before,
    .btn-plus::after{
        content: "";
        position: absolute;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn-plus::before{
        width: 26px;
        height: 2px;
    }

    .btn-plus::after{
        width: 2px;
        height: 26px;
    }

    /* espacio extra para compensar el bot贸n */
    .info{
        padding: 20px 10px 10px 10px;
        background: #d9d9d9;
    }


    .nombre{
        font-weight: bold;
    }

    .precio{
        font-size: 14px;
    }
}
@media (min-width: 769px) and (max-width:920px){

    .nav-left{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
    }
    .footer-img{
        display:none; /* quitamos la imagen grande */
    }
    /* card */
    .card{
        width: 280px;
        background: #d9d9d9;
        border-radius: 15px;
        overflow: hidden;
    }

    .img-container{
        position: relative;
    }

    .card img{
        width: 100%;
        height: 280px;
        object-fit: cover;
        display: block;
    }

    /* BOTON + POSICION CORRECTA */
    .btn-plus{
        position: absolute;
        bottom: -15px; /* esto lo baja a la uni贸n */
        right: 5px;
        width: 52px;
        height: 52px;
        background: black;
        border: 2px solid white;
        z-index: 10;
    }

    /* simbolo + */
    .btn-plus::before,
    .btn-plus::after{
        content: "";
        position: absolute;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn-plus::before{
        width: 26px;
        height: 2px;
    }

    .btn-plus::after{
        width: 2px;
        height: 26px;
    }

    /* espacio extra para compensar el bot贸n */
    .info{
        padding: 20px 10px 10px 10px;
        background: #d9d9d9;
    }


    .nombre{
        font-weight: bold;
    }

    .precio{
        font-size: 14px;
    }
}
@media (min-width: 921px) and (max-width:1279px){

}
@media (max-width: 1280px){
    .nav-left{
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
    }
}
